<doctype html>
    <html lang="es">
    <head>
    <meta charset="UTF-8">
    <h1>Uber City</h1>
    <h2>PERICO-JUJUY</h2>
    <p>Con nuestra app realiza tu pedido de uber de cualquier lugar que estes, elige tu Uber y llega a tu destino seguro!!!</p>
    <img src=https://th.bing.com/th/id/OIP._Sl-rQK5qNw2RtOYbO0v5wHaE8?w=259&h=180&c=7&r=0&o=5&pid=1.7"
    alt="Imagen de Uber">
    <br>
    <br>
    <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/p57enE3L1qs?si=4NRPowW5PHsVsvUW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <br>
    <br>
    </html>